@model IEnumerable<IndexLanguageCard> 

@foreach (var language in Model)
{
    var timeUsed = DateTimeOffset.UtcNow - language.StartedUsing;
    var timeUsedString = (timeUsed.TotalDays >= 365)
                         ? $"{Math.Round(timeUsed.TotalDays / 365)} Years"
                         : $"{Math.Round(timeUsed.TotalDays / 30)} Months";

    <div class="wrapper">
        <div class="language">
            <img class="atlas @language.LogoClass" src="~/img/atlas/index.png" alt="@language.Name" />
            <h2>@timeUsedString Experience</h2>
            <div class="rating">
                <label>Comfort</label>
                @for (int i = 0; i < 5; i++)
                {
                    var classes = "fa fa-star";
                    if (i < language.Comfort)
                        classes += " checked";

                    <span class="@classes"></span>
                }
            </div>
            <!--A bit of code duplication, but meh-->
            <div class="rating">
                <label>Knowledge</label>
                @for (int i = 0; i < 5; i++)
                {
                    var classes = "fa fa-star";
                    if (i < language.Knowledge)
                        classes += " checked";

                    <span class="@classes"></span>
                }
            </div>
        </div>
    </div>
}