@{
    ViewData["Title"] = "Awards";
    ViewData["NavLinkActive"] = "linkAwards";
}

<section class="ui dark home center aligned segment">
    <section class="ui darkish home segments">
        <section class="ui segment">
            <section class="ui center aligned basic segment">
                <h3 class="header">Innovation Award - School Farm Network Awards 2019</h3>
                <div class="ui images">
                    <div class="image">
                        <img src="~/img/school_farm_award_closeup.jpg" width="400" />
                    </div>
                    <div class="image">
                        <img src="~/img/school_farm_award_stage.jpg" width="400" />
                    </div>
                </div>
            </section>
            <section class="ui left aligned basic segment">
                <p>
                    My <a href="/Home/Project?view=%2FViews%2FProjects%2FFarmMaster.cshtml">FarmMaster</a> project was nominated by Aim Educational Ltd for the School Farm Network's 
                    <em>'Best use of the school ciriculum award'</em>.
                </p>
                <p>
                    The project was short listed, and moved to be nominated for the 
                    <em>'Innovative or Inspirational project award'</em>, 
                    where it then won 1st place.
                </p>
            </section>
        </section>
    </section>
</section>