
@{
    ViewData["Title"] = "Awards";
    ViewData["NavItem"] = "Awards";
}

<article id="app" class="award">
    <h1>
        <span>Innovation Award - School Farm Awards 2019</span>
    </h1>
    <carousel ref="carousel" class="carousel" :per-page="1" :mouse-drag="false" :touch-drag="false">
        <slide>
            <img src="~/img/school_farm_award_stage.jpg" />
        </slide>
        <slide>
            <img src="~/img/school_farm_award_closeup.jpg" />
        </slide>
    </carousel>    
    <div class="description">
        <p>
            My <a href="#">FarmMaster</a> project was nominated by Aim Educational Ltd for the School Farm Network's
            <em>'Best use of the school curriculum'</em> award.
        </p>
        <p>
            The project was short listed, and moved to be nominated for the
            <em>'Innovative or Inspirational project'</em> award, where it then won
            first place.
        </p>
    </div>
</article>

@section Scripts {
    <script src="/js/vue_awards.js"></script>
    <script>
        Vue.use(components.default.Carousel);
        new Vue({
            el: "#app",

            mounted () {
                setTimeout(this.$refs.carousel.computeCarouselWidth, 300)
            }
        });
    </script>
}