@{
    ViewData["Title"] = "Awards";
    ViewData["NavLinkActive"] = "linkAwards";
}

<section class="ui dark home center aligned segment">
    <section class="ui darkish home segments">
        <section class="ui segment">
            <section class="ui two horizontal basic segments">
                <section class="ui left aligned segment">
                    <h3 class="header">Innovation Award - School Farm Network Awards 2019</h3>
                    <div class="images">
                        <div class="image">
                            <img src="~/img/school_farm_award_closeup.jpg" width="400" />
                        </div>
                        <div class="image">
                            <img src="~/img/school_farm_award_stage.jpg" width="400" />
                        </div>
                    </div>
                </section>
                <section class="ui left aligned segment">
                    <p>
                        My <a>FarmMaster</a> project was nominated by Aim Educational Ltd for the School Farm Network's 'Best use of the school ciriculum award'.
                    </p>
                    <p>
                        The project was short listed, and moved to be nominated for the 'Innovative or Inspiration award', where it then won 1st place.
                    </p>
                </section>
            </section>
        </section>
    </section>
</section>