
@{
    ViewData["Title"] = "Awards";
    ViewData["NavItem"] = "Awards";
}

<section class="awards element">
    <div class="one column grid">
        <div class="row">
            <div class="center aligned column">
                <article class="award">
                    <h1>Innovation Award - School Farm Awards 2019</h1>
                    <a href="~/img/school_farm_award_stage.jpg" target="_blank">
                        <img src="~/img/school_farm_award_stage.jpg" />
                    </a>
                    <div class="description">
                        <p>
                            My FarmMaster project was nomiated by Aim Educational Ltd for the School Farm Network's
                            <em>'Best use of the school ciriculum'</em> award.
                        </p>
                        <p>
                            The project was short listed, and moved to be nominated for the
                            <em>'Innovative or Inspirational project'</em> award, where it then won
                            first place.
                        </p>
                    </div>
                    <a href="~/img/school_farm_award_closeup.jpg" target="_blank">
                        <img src="~/img/school_farm_award_closeup.jpg" />
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>