@{
    ViewData["Title"] = "My achieved awards";
    ViewData["NavItem"] = "Awards";
}

<article id="app" class="award">
    <h1>
        <span>Innovation Award - School Farm Awards 2019</span>
    </h1>
    <carousel :autoplay="true"
              :loop="true"
              :autoplay-timeout="5000"
              :sources="['/img/school_farm_award_stage.jpg', '/img/school_farm_award_closeup.jpg']">
    </carousel>
    <div class="description">
        <p>
            My <a href="#">FarmMaster</a> project was nominated by Aim Educational Ltd for the School Farm Network's
            <em>'Best use of the school curriculum'</em> award.
        </p>
        <p>
            The project was short listed, and moved to be nominated for the
            <em>'Innovative or Inspirational project'</em> award, where it then won
            first place.
        </p>
    </div>
</article>

@section Scripts {
    <script src="/js/vue_awards.js"></script>
    <script>
        Vue.component("carousel", components.default.Carousel);
        new Vue({
            el: "#app"
        });
    </script>
}