@model string
@{
    ViewData["Title"] = "Blog";
    ViewData["NavItem"] = "Blog";
}

<section class="awards element">
    <div class="one column grid">
        <div class="row">
            <div class="center aligned column">
                <article class="award">
                    @Html.Raw(Model)
                </article>
            </div>
        </div>
    </div>
</section>