@{
    ViewData["Title"] = "Index";
    ViewData["NavItem"] = "Home";
}

<section class="home about">
    <h1>
        <span>
            About Me
        </span>
    </h1>
    <div class="personal summary">
        <div class="image">
            <div class="images">
                <img class="atlas cooper" src="~/img/atlas/index.webp" alt="Floofer of Worlds" asp-append-version="true"/>
                <img class="atlas selfie" src="~/img/atlas/index.webp" alt="Bradley" asp-append-version="true"/>
            </div>
            <p>
                "C++ is for masochists; D is for sadists."
            </p>
        </div>
        <div class="summary">
            <p>
                I'm an aspiring UK Software Developer who is mostly interested in backend development, while also boasting marketable experience
                with web development.
            </p>
            <p>
                For the last 7 years I have self-taught myself anything ranging from new languages, frameworks/libraries,
                and concepts such as programming patterns, best practices, and hidden performance costs.
            </p>
            <p>
                For example, within a year I've researched and learned about CSS & SASS; JS & TS; HTML; ASP Core; Razor; basic DevOps 
                (DNS, CI, and server management); GraphQL, and EF Core. This is of course on top of my already broad experience
                with many other aspects of programming.
            </p>
            <p>
                Problems and challenges greatly motivate me which when combined with my enjoyment from educating myself,
                allows me to overcome most issues thrown at me.
            </p>
            <p>
                I have minimal experience with working in a group, however I'm sure given enough time I'll be able to
                fit in and work efficiently with others, provided that they're friendly. <i class="fa fa-smile-o"></i>
            </p>
        </div>
    </div>
</section>
<section id="appCards" class="home languages">
    <template v-for="section in sections">
        <h1>
            <span>
                {{ section.name }}
            </span>
        </h1>
        <div class="languages">
            <language-card v-for="card in section.cards"
                           :key="card.logoClass"
                           v-bind="card"></language-card>
        </div>
    </template>
</section>

@section Scripts {
    <script type="text/x-template" id="language-card">
        <div class="wrapper">
            <div class="language">
                <img class="atlas" v-bind:class="[logoClass]" src="/img/atlas/index.webp" :alt="logoClass" asp-append-version="true" />
                <h2>{{ timeUsedString }} Experience</h2>
                <div class="rating">
                    <label>Comfort</label>
                    <span v-for="i in 5" class="fa fa-star" v-bind:class="{ checked: i <= comfort }"></span>
                </div>
                <!--A bit of code duplication, but meh-->
                <div class="rating">
                    <label>Knowledge</label>
                    <span v-for="i in 5" class="fa fa-star" v-bind:class="{ checked: i <= knowledge }"></span>
                </div>
            </div>
        </div>
    </script>

    <script>
        Vue.component("language-card", {
            template: "#language-card",
            props: {
                logoClass:      String,
                timeStarted:    Date,
                comfort:        Number,
                knowledge:      Number
            },
            computed: {
                timeUsedString() {
                    const elapsed = Date.now() - this.timeStarted;
                    const oneDayMs = 24 * 60 * 60 * 1000;
                    const daysElapsed = Math.round(Math.abs(elapsed / oneDayMs));

                    return (daysElapsed >= 365)
                        ? `${Math.round(daysElapsed / 365)} Years`
                        : `${Math.round(daysElapsed / 30)} Months`;
                }
            }
        });

        function createLanguageCardObject(array) {
            return {
                logoClass:   array[0],
                timeStarted: array[1],
                comfort:     array[2],
                knowledge:   array[3]
            };
        }

        new Vue({
            el: "#appCards",
            data: {
                sections: [
                    {
                        name: "Languages (Main)",
                        cards: [
                            ["csharp", new Date(2013, 06, 01), 5, 4],
                            ["dlang",  new Date(2014, 02, 01), 5, 4],
                            ["html",   new Date(2019, 06, 29), 3, 3],
                            ["css",    new Date(2019, 10, 05), 3, 2],
                            ["ts",     new Date(2019, 06, 29), 3, 2],
                        ].map(arr => createLanguageCardObject(arr))
                    },
                    {
                        name: "Languages (Minor, on/off usage)",
                        cards: [
                            ["cpp",    new Date(2013, 11, 01), 1, 2],
                            ["python", new Date(2015, 01, 01), 3, 2],
                            ["nasm",   new Date(2017, 01, 01), 1, 1]
                        ].map(arr => createLanguageCardObject(arr))
                    }
                ]
            }
        });
    </script>
}