@{
    ViewData["Title"] = "Index";
    ViewData["NavItem"] = "Home";
    ViewData["SeoDescription"] = 
        "I'm a young UK Software Developer boasting workable experience with Web Dev, Tooling, DevOps, and SysAdmin.";
}

<section class="home about">
    <header>
        <span>
            About Me
        </span>
    </header>
    <div class="personal summary">
        <div class="image">
            <div class="images">
                <img class="atlas cooper" src="~/img/atlas/index.webp" alt="Floofer of Worlds" asp-append-version="true" />
                <img class="atlas selfie" src="~/img/atlas/index.webp" alt="Bradley" asp-append-version="true" />
            </div>
            <p>
                "C++ is for masochists; D is for sadists."
            </p>
        </div>
        <div class="summary">
            <p>
                I'm an aspiring UK Software Developer who is mostly interested in backend development, while also boasting marketable experience
                with web development, DevOps, and marginal SysAdmin experience.
            </p>
            <p>
                For the last 7 years I have self-taught myself anything ranging from new languages, frameworks/libraries,
                and concepts such as programming patterns, best practices, and hidden performance costs.
            </p>
            <p>
                For example, within a year I've researched and learned about CSS & SASS; JS & TS; HTML; ASP Core; Razor; basic DevOps
                (DNS, CI, and server management); GraphQL, and EF Core. This is of course on top of my already broad experience
                with many other aspects of programming.
            </p>
            <p>
                Problems and challenges greatly motivate me which when combined with my enjoyment from educating myself,
                allows me to overcome most issues thrown at me.
            </p>
            <p>
                I have minimal experience with working in a group, however I'm sure given enough time I'll be able to
                fit in and work efficiently with others, provided that they're friendly. <i class="fa fa-smile-o"></i>
            </p>
        </div>
    </div>
</section>
<section id="appCards" class="home languages">
    <template v-for="section in sections">
        <header>
            <span>
                {{ section.name }}
            </span>
        </header>
        <div class="languages">
            <language-card v-for="card in section.cards"
                           :key="card.logoClass"
                           v-bind="card"></language-card>
        </div>
    </template>
</section>

@section Scripts {
    <script src="/js/vue_index.js"></script> <!--Exports as components.default-->
    <script>
        Vue.component("language-card", components.default.LanguageCard);

        function createLanguageCardObject(array) {
            return {
                logoClass: array[0],
                timeStarted: array[1],
                comfort: array[2],
                knowledge: array[3],
                metadata: array[4]
            };
        }

        new Vue({
            el: "#appCards",
            data: {
                sections: [
                    {
                        name: "Languages (Main)",
                        cards: [
                            ["csharp",  new Date(2013, 06, 01), 5, 4, ["ASP Core", "EF Core", "Nuget", "Reflection", "1st Web Dev", "2nd App Dev"]],
                            ["dlang",   new Date(2014, 02, 01), 5, 4, ["Main Language", "1st App Dev", "Advanced meta programming", "Complex codegen"]],
                            ["html",    new Date(2019, 06, 29), 3, 3, ["Razor"]],
                            ["css",     new Date(2019, 10, 05), 3, 2, ["Bootstrap 4", "Semantic UI", "SASS", "Responsive Design"]],
                            ["ts",      new Date(2019, 06, 29), 3, 2, ["JS & TS", "NPM", "Vue.js", "Browser", "ES6", "Gulp"]],
                        ].map(arr => createLanguageCardObject(arr))
                    },
                    {
                        name: "Languages (Minor, on/off usage)",
                        cards: [
                            ["cpp",     new Date(2013, 11, 01), 1, 2, ["Smart pointers"]],
                            ["python",  new Date(2015, 01, 01), 3, 2],
                            ["nasm",    new Date(2017, 01, 01), 1, 1]
                        ].map(arr => createLanguageCardObject(arr))
                    }
                ]
            }
        });
    </script>
}