@{
    ViewData["Title"] = "About me";
    ViewData["NavItem"] = "Home";
    ViewData["SeoDescription"] = 
        "I'm a young UK Software Developer boasting workable experience with Web Dev, Tooling, DevOps, and SysAdmin.";
    ViewData["SeoCanonical"] = "";
}

@section SchemaOrg {
    <script type="application/ld+json">
    {
        "@@context": "https://schema.org/",
        "@@type": "Person",
        "name": "Bradley Chatha",
        "award": "School Innovation Award 2019 - School Farm Network",
        "birthDate": "13th April 1999",
        "description": "A 21 year old Junior Software Developer",
        "url": "https://bradley.chatha.dev/",
        "image": "https://bradley.chatha.dev/img/school_farm_award_stage.jpg",
        "email": "bradley.chatha@gmail.com",
        "gender": "male",
        "knowsLanguage": "en",
        "nationality": "English",
        "sameAs": [
            "https://twitter.com/BradleyChatha",
            "https://www.youtube.com/channel/UCfW5FC_RcCtdtK-SZSgdxTA",
            "https://www.linkedin.com/in/bradley-chatha/",
            "https://github.com/SealabJaster",
            "https://bradley.chatha.dev/"
        ],
        "jobTitle": "Student",
        "memberOf": {
            "@@type": "Organization",
            "name": "Aim Educational Ltd"
        },
        "sibling": {
            "@@type": "Person",
            "name": "Ryan Chatha"
        }
    }
    </script>

    <meta property="og:url"             content="https://bradley.chatha.dev"/>
    <meta property="og:title"           content="Bradley Chatha's personal website and portfolio"/>
    <meta property="og:description"     content="@ViewData["SeoDescription"]"/>
    <meta property="og:image"           content="https://bradley.chatha.dev/favicon.ico"/>
    <meta property="og:type"            content="website"/>
}

<section class="home about">
    <h1>
        <span>
            About Me
        </span>
    </h1>
    <div class="personal summary">
        <div class="image">
            <div class="images">
                <img class="atlas cooper" src="~/img/atlas/index.webp" alt="Floofer of Worlds" asp-append-version="true" />
                <img class="atlas selfie" src="~/img/atlas/index.webp" alt="Bradley" asp-append-version="true" />
            </div>
            <p>
                "C++ is for masochists; D is for sadists."
            </p>
        </div>
        <div class="summary">
            <p>
                I'm an aspiring UK Software Developer who is mostly interested in backend development, while also boasting marketable experience
                with web development, DevOps, and marginal SysAdmin experience.
            </p>
            <p>
                For the last 7 years I have self-taught myself anything ranging from new languages, frameworks/libraries,
                and concepts such as programming patterns, best practices, and hidden performance costs.
            </p>
            <p>
                For example, within a year I've researched and learned about CSS & SASS; JS & TS; HTML; ASP Core; Razor; basic DevOps
                (DNS, CI, and server management); GraphQL, and EF Core. This is of course on top of my already broad experience
                with many other aspects of programming.
            </p>
            <p>
                Problems and challenges greatly motivate me which when combined with my enjoyment from educating myself,
                allows me to overcome most issues thrown at me.
            </p>
            <p>
                I have minimal experience with working in a group, however I'm sure given enough time I'll be able to
                fit in and work efficiently with others, provided that they're friendly. <i class="fa fa-smile-o"></i>
            </p>
            <p>
                My <a href="https://github.com/SealabJaster/CV/blob/master/build/cv_generic_modern.pdf">generic CV</a> is hosted on github,
                and is automatically built via Github Actions from a LaTeX file.
            </p>
        </div>
    </div>
</section>
<section id="appCards" class="home languages">
    <template v-for="section in sections">
        <h1>
            <span>
                {{ section.name }}
            </span>
        </h1>
        <div class="languages">
            <language-card v-for="card in section.cards"
                           :key="card.logoClass"
                           v-bind="card"></language-card>
        </div>
    </template>
</section>

@section Scripts {
    <script src="/js/vue_index.js" asp-append-version="true"></script> <!--Exports as components.default-->
    <script>
        Vue.component("language-card", components.default.LanguageCard);

        function createLanguageCardObject(array) {
            return {
                logoClass: array[0],
                timeStarted: array[1],
                comfort: array[2],
                knowledge: array[3],
                metadata: array[4]
            };
        }

        new Vue({
            el: "#appCards",
            data: {
                sections: [
                    {
                        name: "Languages (Main)",
                        cards: [
                            ["csharp",  new Date(2013, 06, 01), 5, 4, ["ASP Core", "EF Core", "Nuget", "Reflection", "1st Web Dev", "2nd App Dev"]],
                            ["dlang",   new Date(2014, 02, 01), 5, 4, ["Main Language", "1st App Dev", "Advanced meta programming", "Complex codegen"]],
                            ["html",    new Date(2019, 06, 29), 3, 3, ["Razor"]],
                            ["css",     new Date(2019, 10, 05), 3, 2, ["Bootstrap 4", "Semantic UI", "SASS", "Responsive Design"]],
                            ["ts",      new Date(2019, 06, 29), 3, 2, ["JS & TS", "NPM", "Vue.js", "Browser", "ES6", "Gulp"]],
                        ].map(arr => createLanguageCardObject(arr))
                    },
                    {
                        name: "Languages (Minor, on/off usage)",
                        cards: [
                            ["cpp",     new Date(2013, 11, 01), 1, 2, ["Smart pointers"]],
                            ["python",  new Date(2015, 01, 01), 3, 2],
                            ["nasm",    new Date(2017, 01, 01), 1, 1]
                        ].map(arr => createLanguageCardObject(arr))
                    }
                ]
            }
        });
    </script>
}