@{
    ViewData["Title"] = "Index";
    ViewData["NavItem"] = "Home";

    Func<int, int, int, DateTimeOffset> makeDate = (y, m, d) => new DateTimeOffset(y, m, d, 0, 0, 0, TimeSpan.FromSeconds(0));

    var mainLanguages = new List<IndexLanguageCard>()
    {
        new IndexLanguageCard("CSharp", "csharp", makeDate(2013, 06, 01), 5, 4),
        new IndexLanguageCard("DLang",  "dlang",  makeDate(2014, 02, 01), 5, 4),
        new IndexLanguageCard("HTML",   "html",   makeDate(2019, 06, 29), 3, 3),
        new IndexLanguageCard("CSS",    "css",    makeDate(2019, 10, 05), 3, 2),
        new IndexLanguageCard("TS/JS",  "ts",     makeDate(2019, 06, 29), 3, 2)
    };

    var minorLanguages = new List<IndexLanguageCard>()
    {
        new IndexLanguageCard("C++",    "cpp",       makeDate(2013, 11, 01), 1, 2),
        new IndexLanguageCard("Python", "python",    makeDate(2015, 01, 01), 3, 2),
        new IndexLanguageCard("NASM",   "nasm",      makeDate(2017, 01, 01), 1, 1)
    };
}

<section class="home about">
    <h1>
        <span>
            About Me
        </span>
    </h1>
    <div class="personal summary">
        <div class="image">
            <div class="images">
                <img class="atlas cooper" src="~/img/atlas/index.png" alt="Floofer of Worlds"/>
                <img class="atlas bradley" src="~/img/atlas/index.png" alt="Bradley"/>
            </div>
            <p>
                "Complacency is the devil; Never stop learning."
            </p>
        </div>
        <div class="summary">
            <p>
                I'm an aspiring UK Software Developer who is mostly interested in backend development, while also boasting marketable experience
                with web development.
            </p>
            <p>
                For the last 7 years I have self-taught myself anything ranging from new languages, frameworks/libraries,
                and concepts such as programming patterns, best practices, and hidden performance costs.
            </p>
            <p>
                For example, within a year I've researched and learned about CSS & SASS; JS & TS; HTML; ASP Core; Razor; basic DevOps 
                (DNS, CI, and server management); GraphQL, and EF Core. This is of course on top of my already broad experience
                with many other aspects of programming.
            </p>
            <p>
                Problems and challenges greatly motivate me which when combined with my enjoyment from educating myself,
                allows me to overcome most issues thrown at me.
            </p>
            <p>
                I have minimal experience with working in a group, however I'm sure given enough time I'll be able to
                fit in and work efficiently with others, provided that they're friendly. <i class="fa fa-smile-o"></i>
            </p>
        </div>
    </div>
</section>
<section class="home languages">
    <h1>
        <span>
            Languages (Main)
        </span>
    </h1>
    <div class="languages">
        <partial name="_Index_LanguageCards" model="mainLanguages" />
    </div>

    <h1>
        <span>
            Languages (Minor/on-off)
        </span>
    </h1>
    <div class="languages">
        <partial name="_Index_LanguageCards" model="minorLanguages" />
    </div>
</section>