@{
    ViewData["Title"] = "Index";
    ViewData["NavItem"] = "Home";
}

<section class="home about">
    <h1>
        <span>
            About Me
        </span>
    </h1>
    <div class="personal summary">
        <div class="image">
            <div class="images">
                <img src="~/img/cooper.JPG" />
                <img src="~/img/selfie.JPG" />
            </div>
            <p>
                "Complacency is the devil; Never stop learning."
            </p>
        </div>
        <div class="summary">
            <p>
                I'm an aspiring UK Software Developer who is mostly interested in backend development, while also boasting marketable experience
                with web development.
            </p>
            <p>
                For the last 7 years I have self-taught myself anything ranging from new languages, frameworks/libraries,
                and concepts such as programming patterns, best practices, and hidden performance costs.
            </p>
            <p>
                For example, within a year I've researched and learned about CSS & SASS; JS & TS; HTML; ASP Core; Razor; basic DevOps 
                (DNS, CI, and server management); GraphQL, and EF Core. This is of course on top of my already broad experience
                with many other aspects of programming.
            </p>
            <p>
                Problems and challenges greatly motivate me which when combined with my enjoyment from educating myself
                allows me to overcome most issues thrown at me.
            </p>
            <p>
                I have minimal experience with working in a group, however I'm sure given enough time I'll be able to
                fit in and work efficiently with others, provided that they're friendly. <i class="fa fa-smile-o"></i>
            </p>
        </div>
    </div>
</section>