@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["NavItem"] = "Home";
    ViewData["SeoDescription"] = "The privacy policy for my personal website";
    ViewData["SeoCanonical"] = "privacy-policy";
    ViewData["CssBundle"] = "index";
}

@section SchemaOrg {
    <meta property="og:url" content="https://bradley.chatha.dev/privacy-policy" />
    <meta property="og:title" content="Bradley Chatha's privacy policy for his personal website" />
    <meta property="og:description" content="@ViewData["SeoDescription"]" />
    <meta property="og:image" content="@WebConstants.DEFAULT_OG_IMAGE" />
    <meta property="og:type" content="website" />
}

<section class="home about">
    <h1>
        <span>
            Privacy Policy
        </span>
    </h1>
    <div class="personal summary">
        <div class="summary">
            <h2>Introduction</h2>
            <p>
                This privacy policy details how; why, and how long this website stores data about your visit.
            </p>

            <h2>Analytics</h2>
            <p>
                This website makes use of a self-hosted instance of Matomo (https://matomo.org/), which is a privacy-focused
                analytics platform.
            </p>
            <p>
                The privacy-related configuration for this website's Matomo instance, as of 7th August 2020, is as follows:
                <ul>
                    <li>IP Addresses are only stored by their first byte, so the address (123.456.789.200) is stored as (123.0.0.0).</li>
                    <li>Cookies are disabled, which means Matomo will treat you as an entirely new user for subsequent visits to this website.</li>
                    <li>DNT (Do not track) is respected.</li>
                </ul>
            </p>
            <p>
                Furthermore, a non-exhaustive list of potentially identifying information that Matomo collects includes:
                <ul>
                    <li>The first byte of your IP address.</li>
                    <li>Your browser language.</li>
                    <li>Your country (based off of your browser language, therefore inaccurate).</li>
                    <li>Your browser and its version.</li>
                    <li>Your OS and its version.</li>
                    <li>Your device (desktop/mobile, brand, version, and screen size).</li>
                    <li>How you first entered the website (e.g. Google, a stray link somewhere, directly, etc.)</li>
                </ul>
            </p>
            <p>
                This website will also collect the following actions you perform:
                <ul>
                    <li>Any pages of this website that you visit.</li>
                    <li>Any links that you click, and on what page you clicked them on.</li>
                    <li>If you've scrolled down a page to certain milestones (10%, 20%, and so on).</li>
                </ul>
            </p>

            <h2>Why?</h2>
            <p>
                I (Bradley Chatha) would like to know how my website is being used; where the common "pain points" are; which devices/screen sizes
                may be having issues, and simply knowing which pages are the most popular.
            </p>
            <p>
                For example, if I notice people on larger screens stick around more when reading my blog yet people on smaller screens leave
                faster, then that tells me I need to do more work on optimising the website for mobile viewing.
            </p>

            <h2>Sharing</h2>
            <p>
                All of this data is stored in a self-hosted Matomo instance, and no access is provided or shared to any third-parties.
            </p>

            <h2>How long?</h2>
            <p>
                As your data is sufficiently anonymised to the point where you cannot be identified, this data is stored indefinitely to allow
                me to create long-term aggregations of data.
            </p>

            <h2>Your rights</h2>
            <p>
                Under GDPR you have the right to request access, correction, and deletion of your personal data.
            </p>
            <p>
                However, since this website stores so little information such that it cannot be associated to any singular person, I cannot
                perform any of these requests.
            </p>

            <h2>I have concerns...</h2>
            <p>
                If you have concerns on how this website handles its data collection, please use the contact information
                provided in the footer of this website, detailing any concerns you may have.
            </p>

            <h2>Can I opt-out?</h2>
            <p>
                Yes. If you have your browser's DNT (Do not track) setting turned on, then Matomo will respect this setting. You can also
                disable javascript for this website to disable any client-side tracking, although certain parts of this website may not 
                render correctly, if at all.
            </p>

            <h2>Server-side tracking</h2>
            <p>
                Certain actions you take are recorded using server-side tracking, as opposed to client-side tracking.
                Any data tracked by the server contains no data (device, ip, etc.) about you except the action that triggered the data collection.
            </p>
            <p>
                The following actions are tracked via server-side tracking:
                <ul>
                    <li>HTTP 404 (Page not found) errors, as well as the URL that caused the error.</li>
                    <li>Successful requests - Includes the URL and hostname of the node serving your request.</li>
                </ul>
            </p>

            <h2>Cookies</h2>
            <p>
                Cookies are tiny pieces of text that websites can store on your computer, to keep track of things such as: an ID to identify
                you on subsequent visits; any preferences you may have, and so on.
            </p>
            <p>
                Currently, this website does not employ the use of cookies.
            </p>

            <h2>Conclusion</h2>
            <p>
                The main intention of this website's data collection is to track what you <strong>do</strong>, but not who you <strong>are</strong>.
            </p>
        </div>
    </div>
</section>