@{
    ViewData["Title"] = "My projects";
    ViewData["NavItem"] = "Project";
    ViewData["SeoDescription"] = "A collection of all of my more useful projects.";
    ViewData["SeoCanonical"] = "Projects";
    ViewData["CssBundle"] = "projects";
}

@section SchemaOrg {
    <meta property="og:url" content="https://bradley.chatha.dev/projects" />
    <meta property="og:title" content="My projects - Bradley Chatha" />
    <meta property="og:description" content="@ViewData["SeoDescription"]" />
    <meta property="og:image" content="@WebConstants.DEFAULT_OG_IMAGE" />
    <meta property="og:type" content="website" />
}

<section class="project wrapper">
    <h1>Projects</h1>

    <a class="no style" asp-action="ProjectJcli">
        <article>
            <img src="~/img/logos/jcli.svg" />
            <div>
                <h2>JCLI - Command Line Interface framework</h2>
                <div class="description">
                    An easy-to-use, yet powerful CLI framework written in the D programming language.
                </div>
                <div class="description">
                    Features reusable components, compile-time metaprogramming, and dependency injection.
                </div>
            </div>
        </article>
    </a>
    <a class="no style" asp-action="ProjectFarmMaster">
        <article>
            <div>
                <h2>FarmMaster</h2>
                <div class="description">
                    An abandoned web solution for managing livestock and other farm-related things.
                </div>
                <div class="description">
                    My very first web project, which has seen multiple iterations. Abandoned, but still useful to show
                    my progression.
                </div>
            </div>
        </article>
    </a>
</section>