body {
  font-family: "Roboto";
  color: #444444;
  background-color: #fdfdfc;
}

a {
  text-decoration: none;
  color: #5a57ff;
}
a:hover {
  text-decoration: underline;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 68px;
}
header > nav.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #24465b;
}
@media screen and (max-width: 600px) {
  header > nav.navbar {
    flex-wrap: wrap;
  }
}
header > nav.navbar > h1 > a {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1em;
  text-decoration: none;
  min-width: 200px;
  color: #ebf0ff;
  font-size: 28px;
}
@media screen and (max-width: 600px) {
  header > nav.navbar > h1 > a {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
}
header > nav.navbar > div.gutter {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 600px) {
  header > nav.navbar > div.gutter {
    height: 10px;
  }
}
header > nav.navbar > div.links {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-evenly;
  min-width: 380px;
}
@supports (-ms-ime-align: auto) {
  header > nav.navbar > div.links {
    justify-content: space-between;
    margin-right: 1em;
  }
}
@media screen and (max-width: 600px) {
  header > nav.navbar > div.links {
    min-width: 100%;
  }
}
header > nav.navbar > div.links > a.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  color: #9fbedf;
  transition: color ease-out 0.1s;
}
header > nav.navbar > div.links > a.item:hover {
  color: #bed5ee;
  transition: color ease-in 0.1s;
}
header > nav.navbar > div.links > a.item.active {
  font-weight: bold;
}

main {
  padding-top: 68px;
  min-height: 87vh;
}
@media screen and (max-width: 600px) {
  main {
    padding-top: 102px;
  }
}

footer {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 5.5vh;
  padding-top: 0.4em;
  background-color: #24465b;
  color: #ebf0ff;
}
footer > address, footer > div.gutter, footer > div.social.medias {
  width: calc(100% / 3);
}
@media screen and (max-width: 840px) {
  footer > div.gutter {
    display: none;
  }
  footer > address, footer > div.social.medias {
    width: 50%;
  }
}
footer > address {
  font-style: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
}
footer > address > label {
  padding-bottom: 0.2em;
  font-weight: bold;
  color: #b2c6fd;
}
footer > address > div {
  margin-bottom: 0.2em;
}
footer > address > div > i.fa-phone {
  margin-left: -4.5em;
  padding-right: 0.2em;
}
footer > div.social.medias {
  display: flex;
  justify-content: flex-end;
}
footer > div.social.medias > a {
  color: #5b98be;
  padding-right: 1em;
}

section.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section.home img.atlas {
  object-fit: none;
}
section.home > h1 {
  display: flex;
  justify-content: center;
  color: black;
  padding-top: 1.6em;
  font-size: 34px;
}
section.home > h1 > span {
  padding-bottom: 0.35em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom: solid 4px black;
  border-radius: 3%;
}
section.home.about > h1 {
  padding-top: 0;
}
section.home > div.personal.summary {
  display: flex;
  flex-wrap: wrap;
}
section.home > div.personal.summary > div.image {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section.home > div.personal.summary > div.image > .images {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
section.home > div.personal.summary > div.image > .images > img {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 1px black;
  margin: 0 auto;
  transition: opacity 0.35s ease-in;
}
section.home > div.personal.summary > div.image > .images:hover > img:nth-child(2) {
  opacity: 0;
  transition: opacity 0.35s ease-out;
}
section.home > div.personal.summary > div.image > p {
  padding-top: 1em;
  margin: 0 auto;
  font-style: italic;
}
section.home > div.personal.summary > div.summary {
  display: flex;
  flex-direction: column;
  width: 90ch;
  line-height: 1.4em;
  font-size: 18px;
  margin: 0 auto;
  padding-top: 1em;
}
section.home > div.personal.summary > div.summary > p > i.fa-smile-o:hover::before {
  content: "Wrong face.";
}
section.home > div.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
section.home > div.languages > div.wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-bottom: 1em;
  align-items: center;
}
@media screen and (max-width: 1710px) {
  section.home > div.languages > div.wrapper {
    width: 25%;
  }
}
@media screen and (max-width: 1380px) {
  section.home > div.languages > div.wrapper {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 1024px) {
  section.home > div.languages > div.wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 690px) {
  section.home > div.languages > div.wrapper {
    width: 100%;
  }
}
section.home > div.languages > div.wrapper > div.language {
  display: flex;
  flex-direction: column;
  background-color: #f9f8f6;
  border: solid 1px #1d3849;
  border-radius: 5%;
  width: 300px;
  transition: height ease 0.25s;
}
section.home > div.languages > div.wrapper > div.language > img {
  display: flex;
  align-self: center;
  padding-top: 1em;
  width: 120px;
  min-height: 120px;
}
section.home > div.languages > div.wrapper > div.language > h2 {
  display: flex;
  align-self: center;
  color: #333333;
}
section.home > div.languages > div.wrapper > div.language > div.rating {
  display: flex;
  width: 100%;
  padding-bottom: 0.5em;
}
section.home > div.languages > div.wrapper > div.language > div.rating > label {
  padding-left: 2em;
  font-size: 18px;
}
section.home > div.languages > div.wrapper > div.language > div.rating > span.fa {
  padding-left: 0.3em;
}
section.home > div.languages > div.wrapper > div.language > div.rating > span.fa.checked {
  color: #e69500;
}
section.home > div.languages > div.wrapper > div.language > div.rating > span.fa:first-of-type {
  margin-left: auto;
}
section.home > div.languages > div.wrapper > div.language > div.rating > span.fa:last-of-type {
  padding-right: 2em;
}
section.home > div.languages > div.wrapper > div.language > div.metadata {
  transition: height ease 0.15s;
  width: 300px;
}
section.home > div.languages > div.wrapper > div.language > div.metadata > div.content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2em;
  width: calc(300px - 1em);
  font-size: 15px;
}
section.home > div.languages > div.wrapper > div.language > div.metadata > div.content.processed {
  display: flex;
  position: absolute;
}
section.home > div.languages > div.wrapper > div.language > div.metadata > div.content.shown {
  animation: fadeIn ease 0.25s;
}
section.home > div.languages > div.wrapper > div.language > div.metadata > div.content.hidden {
  animation: fadeOut ease 0.25s;
}
section.home > div.languages > div.wrapper > div.language > div.metadata > div.content > div {
  display: flex;
  width: 45%;
  padding-top: 1em;
}
section.home > div.languages > div.wrapper > div.language > div.metadata > div.content > div:nth-child(2n) {
  padding-left: 5%;
}
section.home > div.languages > div.wrapper > div.language > div.metadata > div.content > div i {
  min-width: 20px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
section.home > div.languages > div.wrapper > div.language > div.toggle {
  width: 100%;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}
section.home > div.languages > div.wrapper > div.language > div.toggle > i {
  display: flex;
  align-self: center;
  font-size: 22px;
  transition: transform ease 1s;
}
section.home > div.languages > div.wrapper > div.language > div.toggle.down > i {
  transform: rotate(90deg);
}
section.home > div.languages > div.wrapper > div.language > div.toggle.up > i {
  transform: rotate(-90deg);
}

article.award {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
article.award > h1 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 34px;
}
article.award > h1 > span {
  padding-bottom: 0.35em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom: solid 4px black;
  border-radius: 3%;
}
article.award > .carousel, article.award > .carousel img {
  max-width: 960px;
  max-height: 720px;
  width: 95vw;
  height: 80vh;
}

section.blog.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100vw;
  margin: 0 auto;
}

section.series {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 1.5em;
}
section.series > div.wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  width: 900px;
  max-width: 95%;
}
@media screen and (max-width: 1100px) {
  section.series > div.wrapper {
    width: 95%;
  }
}
section.series > div.wrapper > article {
  display: flex;
  flex-direction: column;
}
section.series > div.wrapper > article > h1 {
  font-size: 28px;
}
section.series > div.wrapper > article > small {
  font-style: italic;
}
section.series > div.wrapper ~ div.wrapper {
  padding-top: 1em;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ebe9e0;
}

code {
  background-color: #ebe9e0;
  padding-left: 0.5ch;
  padding-right: 0.5ch;
}

article.blog {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  width: inherit;
  font-size: 20px;
  line-height: 1.8em;
}
article.blog h1 {
  font-size: 38px;
  align-self: center;
}
article.blog h2 {
  font-size: 32px;
  margin-bottom: 0.2em;
}
article.blog p {
  width: 80ch;
  max-width: 95vw;
}
article.blog ul, article.blog ol {
  margin-top: 0em;
}
article.blog p ~ ul, article.blog p ~ ol {
  margin-top: -0.6em;
}
article.blog pre > code {
  font-size: 16px;
  line-height: 1.2em;
}

menu.blog.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: inherit;
  padding-left: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 920px) {
  menu.blog.navigation {
    flex-wrap: wrap;
  }
}
menu.blog.navigation a.tab {
  border-style: solid;
  border-width: 4px;
  border-color: #e6e6e6;
}
menu.blog.navigation a.tab:hover {
  text-decoration: none;
  background-color: #f2f2f2;
}
menu.blog.navigation a.tab.active {
  background-color: #e6e6e6;
}
menu.blog.navigation a.tab.active h2 {
  color: #757070;
}
menu.blog.navigation a.tab h2 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  padding-left: 0.5em;
  color: #979090;
}
menu.blog.navigation a.tab span {
  display: block;
  padding-left: 0.8em;
  padding-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 1.2em;
  width: 95%;
  color: #666;
}
menu.blog.navigation a.tab:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
menu.blog.navigation a.tab:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
menu.blog.navigation.one.tab a.tab {
  width: 100%;
}
menu.blog.navigation.two.tab a.tab {
  width: 50%;
}
menu.blog.navigation.three.tab a.tab {
  width: 33%;
}
@media screen and (max-width: 920px) {
  menu.blog.navigation.three.tab a.tab, menu.blog.navigation.two.tab a.tab {
    width: 100%;
    margin-right: 1em;
    border-style: solid;
    border-radius: 0;
  }
}