<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bradley Chatha</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <partial name="_LayoutTrackingJsPartial" />
    <partial name="_LayoutStylesPartial" />
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>
                <a href="/">
                    Bradley Chatha - Software Developer
                </a>
            </h1>
            <section class="right items">
                <a class="active item" href="/">Home</a>
                <a class="item" href="/">Projects</a>
                <a class="item" href="/">Awards</a>
            </section>
        </nav>
    </header>
    <main>
        <section class="one column grid">
            <div class="center aligned row">
                <div class="column">
                    @RenderBody()
                </div>
            </div>
        </section>
</main>

    <partial name="_LayoutJsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
