@import "_common_defs.scss";

// 10 SHADES PER THING. MIDDLE IS BASELINE.
// 1 = LIGHTEST
// 5 = BASELINE/MIDDLE
// 10 = DARKEST
$shadesPrimary: (
    hsl(210, 13, 89), // 1
    hsl(210, 23, 82), // 2
    hsl(210, 36, 75), // 3
    hsl(210, 50, 68), // 4
    hsl(210, 68, 61), // 5
    hsl(210, 68, 50), // 6
    hsl(210, 68, 30), // 7
    hsl(210, 68, 28), // 8
    hsl(209, 68, 22), // 9
    hsl(210, 69, 11)  // 10
);

$shadesGray: (
    hsl(0,   0, 87), // 1
    hsl(0,   0, 70), // 2
    hsl(120, 1, 66), // 3
    hsl(120, 1, 62), // 4
    hsl(120, 1, 54), // 5
    hsl(120, 1, 44), // 6
    hsl(120, 1, 39), // 7
    hsl(0,   0, 29), // 8
    hsl(0,   0, 18), // 9
    hsl(0,   0, 10)  // 10
);

@mixin genShades($shades, $name) {
    @each $shade in $shades {
        $shadeIndex: index($shades, $shade);
        $shadeIndexName: nth($numbers, $shadeIndex);

        .#{$name}.shade.#{$shadeIndexName} {
            color: $shade;
        }

        .background.#{$name}.shade.#{$shadeIndexName} {
            background-color: $shade;
        }

        @each $side in $sides {
            .border.#{$side}.#{$name}.shade.#{$shadeIndexName} {
                border-#{$side}-color: $shade;
            }
        }
    }
}

@include genShades($shadesPrimary, "primary");
@include genShades($shadesGray, "gray");