$GENERIC_COLUMN_WIDTH: 900px;

@mixin generic-column-width {
    max-width: $GENERIC_COLUMN_WIDTH;

    @media screen and (max-width: $GENERIC_COLUMN_WIDTH){
        max-width: 95%;
    }
}

@mixin all-children-flex {
    * {
        display: flex;
    }
}

@mixin fluid-centered-flex-column {
    @include generic-column-width;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
}

@mixin generic-primary-header {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    color: hsl(0, 0, 15%);
}

@mixin generic-font-sizing {
    font-size: 20px;
    line-height: 1.5em;
}