.awards.element {
    @extend .background.primary.shade.two;
    @extend .bottom.one.padded;
    @extend .top.one.padded;
    width: 100%;
    display: flex;
    flex-direction: column;

    article.award {
        @extend .background.primary.shade.three;
        max-width: 800px;
        width: 90%;
        padding: 0em 1em 1em 1em;
        display: flex;
        flex-direction: column;
        // Award header
        h1 {
            @extend .primary.shade.nine;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            margin: 0.5em 0em 0.5em;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        // Award image.
        & > a {
            display: flex;
            flex-direction: column;

            img {
                height: 500px;
            }
        }
        // Description.
        div.description {
            display: block;

            p {
                $fontSize: 18px;
                $lineHeight: $fontSize * 1.5;
                @extend .primary.shade.ten;
                display: inline-block;
                text-align: left;
                font-size: $fontSize;
                line-height: $lineHeight;
                max-width: 50 * $lineHeight;

                em {
                    @extend .primary.shade.nine;
                    display: inline;
                    letter-spacing: -0.5px;
                }

                a {
                    @extend .primary.shade.eight;
                    display: inline;
                    text-decoration: none;
                }
            }
        }
    }
}
