@import "_common.scss";
@import "_colour_scheme.scss";

.section.header {
    & h1 {
        @extend .primary.shade.eight;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
    }
}

.languages.element {
    @extend .background.primary.shade.two;
    @extend .bottom.one.padded;
    width: 100%;
    display: flex;
    flex-direction: column;

    .language.three.column.grid {
        .row {
            .column {
                // Depending on the size of the screen, change the size of each column to fit better.
                // Numbers were chosen based on testing.
                width: 100%;

                @media only screen and (min-width: 600px) {
                    width: 50%;
                }

                @media only screen and (min-width: 1000px) {
                    width: 33%;
                }
            }
        }
    }

    & div.language {
        @extend .background.primary.shade.three;
        //
        width: 290px;
        height: 645px;
        //
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        margin-top: 1em;
        //
        box-shadow: 1px 1px 8px -3px;

        & .header {
            @extend .bottom.one.padded;
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                @extend .top.one.padded;
                @extend .bottom.one.padded;
                //
                display: flex;
                align-self: center;
                //
                width: 120px;
                height: 120px;
            }

            & .years {
                @extend .primary.shade.nine;
                font-size: 18px;
                font-weight: bolder;
                text-transform: uppercase;
            }

            & .meta {
                @extend .gray.shade.eight;
            }
        }

        & .rating {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 1em;

            & label {
                display: flex;
                padding-right: 2em;
                padding-left: 1em;
                text-transform: capitalize;
            }

            & .fa.fa-star:first-of-type {
                margin-left: auto;
            }

            & .fa.fa-star:last-of-type {
                padding-right: 1em;
            }

            & .fa.fa-star.checked {
                color: darken(orange, 12%);
            }
        }

        & .marking {
            @extend .left.padded.one;
            @extend .right.padded.one;
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 1em;
            margin-right: 1em;

            &.check {
                @extend .primary.shade.nine;
            }

            &.minus {
                @extend .gray.shade.eight;
            }

            &.times {
                color: darkred;
            }

            & .fa.fa-check {
                padding-left: 0.7em;
                padding-right: 0.2em;
                color: darkgreen;
            }

            & .fa.fa-minus {
                padding-left: 0.7em;
                padding-right: 0.4em;
                color: dimgray;
            }

            & .fa.fa-times {
                padding-left: 0.7em;
                padding-right: 0.4em;
                color: darkred;
            }
        }
    }
}

.knowledge.element {
    @extend .bottom.one.padded;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: darken(nth($shadesPrimary, 3), 15);

    section.knowledge.four.column.grid {
        .row {
            .column {
                // Change width of columns based on screen size. Numbers taken from testing.
                width: 100%;
                
                @media only screen and (min-width: 600px) {
                    width: 50%;
                }

                @media only screen and (min-width: 1000px) {
                    width: 33%;
                }

                @media only screen and (min-width: 1350px) {
                    width: 25%;
                }
            }
        }
    }

    & article.knowledge {
        @extend .border.primary.shade.seven;
        @extend .background.primary.shade.four;
        @extend .primary.shade.ten;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0.5em;
        box-shadow: 1px 1px 8px -3px;
        border: 1px solid;
        border-radius: 12px;
        width: 290px;
        height: 480px;
        margin-bottom: 1em;

        & > label {
            @extend .primary.shade.nine;
            @extend .bottom.one.padded;
            font-size: 1.3em;
            letter-spacing: 0.1em;
            font-weight: bold;
        }

        & > img {
            @extend .bottom.two.padded;
        }

        & > ul {
            margin-top: 0;
        }

        & > p {
            @extend .left.one.padded;
            @extend .right.one.padded;
            display: flex;
            flex-direction: row;
            text-align: center;
            margin-top: 0;
            margin-bottom: 1em;
            line-height: 1.5em;

            &.left.aligned {
                text-align: left;
                align-self: flex-start;
            }
        }
    }
}

@import "_colour_scheme.scss";